:root {
  --color-primary: #0077b6;
  --color-primary-dark: #005a87;
  --color-accent: #0096c7;
  --color-gray: #cecece;
  --color-error: #bd0000;

  --font-bold: 700;

  --text-1: 10px;
  --text-2: 12px;
  --text-3: 14px;
  --text-4: 16px;
  --text-5: 20px;
  --text-6: 24px;

  --text-hint-max-heignt: 250px;

  --radius-sm: 6px;
  --radius-md: 12px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;

  --transition-duration: 0.2s;

  --border-solid: 1px solid var(--color-accent);

  --control-height-md: 40px;
}
