.debtsList {
  padding-top: var(--space-4);
}

.debtsListHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-2);
  font-weight: var(--font-bold);
  color: var(--color-primary);
}