.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(7em, 130px));
  width: fit-content;
  gap: var(--space-3);
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
  align-self: center;
}

.header {
  display: contents;
  padding-bottom: var(--space-2);
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

.divider {
  grid-column: 1 / -1;
  height: 1px;
  background-color: var(--color-accent);
  border: none;
  margin: 0;
}

.deleteAllButtonContainer {
  display: flex;
  justify-content: end;
}

.addExpenseHint{
  color: var(--color-gray);
  text-align: center;
  padding-bottom: var(--space-5);
}