.primary {
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--radius-sm);
  height: var(--control-height-md);
  text-transform: uppercase;

  &:hover, &:focus-visible {
    background-color: var(--color-accent);
  }

  &:focus-visible {
    outline: none;
  }
}

.icon {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  padding: 0;

  &:hover, &:focus-visible {
    color: var(--color-accent);
  }

  &:focus-visible {
    outline-color: var(--color-accent);
  }
}