.primary {
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--radius-sm);
  text-transform: uppercase;
  padding-inline: var(--space-4);

  &:hover, &:focus-visible {
    background-color: var(--color-accent);
  }

  &:focus-visible {
    outline: none;
  }
}

.icon {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  padding: var(--space-1);
  line-height: 0;

  &:hover, &:focus-visible {
    color: var(--color-accent);
  }

  &:focus-visible {
    outline: none;
  }
}

.md {
  height: 30px;
}

.lg {
  height: 40px;
}

.fullWidth {
  width: 100%;
}