.primary {
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--radius-sm);
  height: var(--control-height-md);
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-accent);
  }
}

.icon {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
}