.newExpenseForm {
  display: contents;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-4);
  row-gap: var(--space-7);
}

.addExpenseButton {
  display: flex;
  justify-content: end;
  align-items: start;
}