.input {
  padding-left: var(--space-2);
  border-radius: var(--radius-sm);
  border-color: var(--color-gray);
  border-style: solid;
  outline: none;

  &:hover {
    border-color: var(--color-accent);
  }

  &:focus {
    border-color: var(--color-primary);
  }
}

.inputError {
  border-color: var(--color-error);
}

.error {
  opacity: 0;
  transition: opacity 0.4s ease;
  color: var(--color-error);
  font-size: var(--text-2);
  padding: var(--space-1) 0 0 var(--space-1);
}

.error:not(:empty) {
  opacity: 1;
}

.sm {
  height: 30px;
}

.lg {
  height: 40px;
}

.fullWidth {
  width: 100%;
}

