.debts {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 20px 40px;
  align-items: center;
}

.title {
  align-self: center;
  padding-bottom: 40px;
  padding-top: 30px;
  color: var(--color-primary-dark);
}