.newExpenseForm {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-5);
  align-items: center;
  margin-bottom: var(--space-4);
}

.addExpenseButton {
  width: 50%;
  max-width: 300px;
}