.field {
  position: relative;

  input {
    padding: var(--space-2);
    border-radius: var(--radius-sm);
    border-color: var(--color-gray);
    border-style: solid;
    outline: none;

    &:hover {
      border-color: var(--color-accent);
    }

    &:focus {
      border-color: var(--color-primary);
    }
  }

  label {
    position: absolute;
    left: var(--space-2);
    top: 10px;
    color: var(--color-gray);
    pointer-events: none;
    background: white;
    padding: 0 var(--space-1);
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: var(--text-1);
    color: var(--color-primary);
  }
}