.debtsListItem {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  column-gap: var(--space-3);
  padding-block: var(--space-2);
  border-top: var(--border-solid);
  align-items: center;
}