.item {
  overflow: hidden;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

.deleteButtonContainer {
  display: flex;
  justify-content: center;
}

.deleteButton {
  color: var(--color-primary);

  &:hover, &:focus-visible {
    color: var(--color-accent);
  }

  &:focus-visible {
    outline-color: var(--color-accent);
  }
}